
</body>
<footer>
    <div>
    <img src="/images/profile_photo.png" alt="image error" width="50" height="50" />
    </div>
        All rights are reserve to <a href="https://www.linkedin.com/in/amit-khedkar-740481199">Amit Khedkar</a> 
</footer>
</html>
