<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/public/images/favikon.png" type="image/x-icon">
    <title>MuchToDo</title>

    <link rel="icon" type="favikon" href="https://img.icons8.com/external-prettycons-lineal-color-prettycons/49/null/external-to-do-list-text-formatting-prettycons-lineal-color-prettycons.png">
    
</head>